<p>cart-item works!</p>

<ul appHighlight>
  <li>
    <div>Book title: {{itemInCart?.name}}</div>
    <div [ngClass]="'price'" [ngStyle]="{'font-size':'20px'}">Price: {{itemInCart?.price}}</div>
    <div>Book quantity: {{itemInCart?.howMuchIsAddedToCart}}
      <button mat-mini-fab color="primary" (click)="addBookExample()">+</button>
      <button mat-mini-fab color="primary" (click)="removeBookExample()">-</button>
    </div>
    <button mat-raised-button color="accent" (click)="removeBook(itemInCart?.id)">Remove</button>
  </li>
</ul>
